<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>710050778221-hsueklfo8uufq69lcv27otjjgfa3nunb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.710050778221-hsueklfo8uufq69lcv27otjjgfa3nunb</string>
	<key>API_KEY</key>
	<string>AIzaSyB3dumHWVBLd9dGD4F2VWSK2okLoIVqk70</string>
	<key>GCM_SENDER_ID</key>
	<string>710050778221</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dovudbek.wordChamp</string>
	<key>PROJECT_ID</key>
	<string>word-champ</string>
	<key>STORAGE_BUCKET</key>
	<string>word-champ.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:710050778221:ios:d3608252ac284da3acc364</string>
</dict>
</plist>